html {
    height: 100%;
}

body {
    width: 100%;
    /*height: 100%;*/
    margin: 0 auto;
    font-family: sans-serif;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.68531162464986) 0%, rgba(9,121,28,0.9934348739495799) 40%, rgba(0,255,74,0.9346113445378151) 100%);
    background-image: url("FFbackground.png");
    background-size: 100%;
    margin-right: 10%;
    
}

nav {
    color: #fff;
    clear: both;
    background-color: #000;
    height: 53px;
}

nav li a {
    color: #fff;
    text-align: center;
}

nav ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
nav li {
    display: block;
    float:left;
    padding: 14px 32px 14px 0px;
}

nav li a:hover {
    color: #fff;
}

nav li a:active {
    color: #fff;
}

nav li a:focus {
    color: #fff;
}

#wrap {
    min-height: 100%;
}

#main {
    clear: both;
    padding: 14px;
    overflow: auto;
    padding-bottom: 100px;
}

footer {
    color: #fff;
    position: relative;
    margin-top: -60px;
    height: 60px;
    clear: both;
    padding-top:20px;
    background-color: #000;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #fff;
}
footer a:active {
    color: #fff;
}
footer a:focus {
    color: #fff;
}

.home h2 {
    background-color: #000;
    color: #fff;
    width: 250px;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px 0 0 0;
    text-align: center;
}

.home .featured-video {
    border: 5px #000 solid;
    padding: 0;
    background: #fff;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-height: 619px;
}

.home .featured-video iframe {
    padding: 15px 0px 18px 15px;
    margin: -15px -15px -18px -15px;
    float: left;
}

.home .featured-video .description {
    text-align: left;
    color: #000;
    background-color: #EBE6E9;
    padding: 15px;
    height: 100%;
    border-top: 5px solid #000;
    overflow: auto;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.home hr {
    /* border: 2px solid #000; */
    clear: both;
}

.home .podcasts-container {
    width: 100%;
}

.home .podcast-list {
    border: 5px #000 solid;
    background: #EBE6E9;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 360px;
    line-height: normal;
    overflow: auto;
    white-space:nowrap;
}

.home .podcast-list ul {
    list-style: none;
    padding: 0;
}

.home .podcast-list li {
    display: inline-block;
    white-space: initial;
}

.home .podcast-list .podcast {
    max-width: 300px;
    margin: 20px 30px 20px 10px; 
}

.home .active-leagues-container {
    float: left;
    width: 30%;
}

.home .active-leagues-list {
    border: 5px #000 solid;
    background: #EBE6E9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 360px;
    line-height: 100%;
    overflow: auto;
    white-space:nowrap;
    padding: 15px;
}
.home .active-leagues-container:not(:last-child){
    margin-right: 55px;
}
.home .active-leagues-list li {
    margin-top: 15px;
}

.home .active-leagues-list li li {
    margin-top: 0px;
}

.home .active-leagues-container h2 {
    width: 100%;
    /*height: 20*/
}

@media (max-width: 1200px) and (min-width: 992px) {

}

@media (max-width: 992px) and (min-width: 768px) {

}

@media (max-width: 768px) and (min-width: 576px) {

}

@media (max-width: 576px) {

}